body{
    background-image: url(sor.gif);
    background-size: cover;
}

#Heading{
    margin-top: 50px;
    font-style: inherit;
    text-align: center;
}

label{
    text-align: left;
    font-size: 16pt;
    font-style: initial;
    font-weight: bolder;
    margin: 10px 10px 10px 10px;
}

#username
{
    width: 70%;
    height: 50px;
    padding: 12px 12px;
    margin:  8px 0px;
    border: lightcoral;
    border-bottom: 2px solid black;
    background:wheat;
    border-color: black;
    border-radius: 20px;
    border-style: double;
}    

#password{
    width: 70%;
    height: 50px;
    padding: 12px 12px;
    padding-bottom:2px;
    margin:  8px 0px;
    border: lightcoral;
    border-bottom: 2px solid black;
    background:wheat;
    border-style: double;
    border-radius:20px;
}

/* #forgot{
    text-align: end;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
} */
/* a{ 
    color:palevioletred;
} */

/* #remember{
    text-align: start;
}  */
#box-model-1{
    margin-top: 80px;
     margin-left: 570px;
     padding-right: 50px;
     padding-left: 30px;
     width: 360px;
     height: 390px;
     /* background-image: url(./bac.jpg); */
}
/* #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
#error-msg-second-line {
    display: block;
  } */

/* #Already{
    margin-top: 10px;
    padding:  16px, 32px;
    text-align: end;
} */

#tony{
    position: absolute;
    top: 80px;
    left: 30px;
}

#bt{
    width: 200px;
    background-color: lawngreen;
    text-align: center;
    height: 50px;
    margin-top: 30px;
    font-size: larger;
}
